:root {
  --color-primary: #8c755c;
  --color-text: #000;

  --color-light-background: #ff3776;
  --color-dark-background: #000;

  --color-border: #e0d9ce;
  --color-shadow: #0000001A;

  --color-white: #fff;
  --color-red: #ff0000;
  --color-blue: #0000ff;
}