@import url('colors.css');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--color-text);
  overflow-x: hidden;
}

header {
  position: relative;
  width: 100%;
  display: flex;               /* flex 박스 활성화 */
  flex-direction: column;      /* 세로 방향 정렬 */
  align-items: center;         /* 가로 가운데 */
  padding: 0;
  box-sizing: border-box;
  text-align: center;          /* 안에 텍스트들도 가운데 정렬 */
}

.header-img {
  width: 100%;
  height: auto;   /* 비율 유지하면서 크기 맞추기 */
  object-fit: cover;
  padding: 0;
  display: block;
}

header h1 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  background-color: #000;
  margin: 0;
  padding: 3% 0 0 0;
  width: 100%;
  border: none;           /* 혹시 border가 있었다면 제거 */
  text-decoration: none;  /* 밑줄 제거 */
}

header p {
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
}

section {
  padding: 5% 10%;
  margin: 0;
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.8s ease-in-out;
}

section.show {
  opacity: 1;
  transform: translateX(0);
}

footer {
  background-color: var(--color-dark-background);
  color: var(--color-white);
  text-align: center;
  padding: 1vh;
  font-size: 0.9rem;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
  margin-top: 0;
}

h2 {
  font-size: 2.3rem;
  margin-top: 0;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.bg {
  background-color: var(--color-light-background);
}
.bg2 {
  background-color: #f57ba2;
}

.hilight1 {
  color: var(--color-red)
}

.hilight2 {
  color: var(--color-blue)
}

.button1 {
  background-color: var(--color-light-background);
  color: var(--color-white);
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 20%;
}

.button1:hover {
  background-color: var(--color-text);
  transform: scale(1.05);
}